@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
    --font: 'Acme', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    background-color: #0d1b2a;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
}

header nav {
    background-color: #669bbcda;
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 99;
    height: 10%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    position: fixed;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.256);
    border-radius: 0 0 10px 10px;
}

.header {
    background-color: transparent;
}

.header a.main {
    background-color: transparent;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #e0e1dd;
    letter-spacing: 5px;
    font-family: var(--font);

}

.header a.main b {
    background-color: transparent;
    color: #023E7D;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper input {
    background-color: #e0e1dd;
    border: none;
    outline: none;
    width: 30rem;
    margin: 0 30px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.256);
    transition: 0.2s;
}

.wrapper input:hover {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.451);
    transform: scale(1.05);

}

.wrapper input:focus {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.451);
    transform: scale(1.05);
}

.wrapper .close {
    z-index: 99;
    display: none;
    align-items: center;
    margin-right: 5px;
    justify-content: center;
    background-color: #778da9;
    outline: none;
    border: none;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    transition: 0.1s;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.256);
}

.wrapper .close:hover {
    background-color: #118ab2;
}

.wrapper .close i {
    color: #252525;
    font-size: 30px;
    background-color: transparent;
}

.wrapper .search {
    z-index: 99;
    display: flex;
    align-items: center;
    margin-right: 5px;
    justify-content: center;
    background-color: #778da9;
    outline: none;
    border: none;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    transition: 0.1s;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.256);
}

.wrapper .search:hover {
    background-color: #118ab2;
}

.wrapper .search:focus {
    background-color: #118ab2;
}

.wrapper .search i {
    color: #252525;
    font-size: 30px;
    background-color: transparent;
}

nav .hamburg {
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #0d1b2a;
}

.hamburg .menuu {
    background-color: transparent;
}

.hamburg .closee {
    display: none;
    background-color: transparent;
}

main {
    padding: 6rem 1rem;
}

main .containerr {
    display: block;
}

.containerr .roww {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    gap: 20px;
}

.containerr .roww div {
    background-color: #778da9;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    /* height: 30rem; */
}

.containerr .roww div .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b263b;
    width: 100%;
    overflow-y: scroll;
    height: 100px;
}

.containerr .roww div .header span {
    background-color: transparent;
    color: #efefef;
    text-align: center;
    font-size: 20px;
    font-family: var(--font);
}

.roww div .image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 200px;
    margin: 10px;
}

.roww div .image img {
    width: 100%;
    transition: 0.3s;
}

.roww div .image img:hover {
    transform: scale(1.20);
    filter: brightness(40%);
}

.roww div .image img:hover img {
    transform: rotate(-10deg);
}


.containerr .roww div .header::-webkit-scrollbar {
    width: 7px;
}

.containerr .roww div .header::-webkit-scrollbar-track {
    border-radius: 0 30px 30px 0;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.795); */
    background: #1b263b;
}

.containerr .roww div .header::-webkit-scrollbar-thumb {
    border-radius: 0 30px 30px 0;
    background: #669bbc;
}

.containerr .roww div .desc {
    padding: 0;
    width: 100%;
}

.containerr .roww div .desc textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    color: #efefef;
    outline: none;
    border: none;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px 5px 5px 10px;
}

.containerr .roww div .desc textarea::-webkit-scrollbar {
    width: 5px;
}

.containerr .roww div .desc textarea::-webkit-scrollbar-track {
    border-radius: 0 30px 30px 0;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.795); */
    background: #1b263b;
}

.containerr .roww div .desc textarea::-webkit-scrollbar-thumb {
    border-radius: 0 30px 30px 0
}

main .notFound {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.notFound .logo img {
    width: 10rem;
    filter: brightness(65%);
    background: transparent;
}

.notFound .main span {
    font-size: 40px;
    color: #efefef92;
    font-family: var(--font);
    letter-spacing: 10px;
}

.notFound .main p {
    font-size: 20px;
    text-align: center;
    color: #efefef92;
    font-family: var(--font);
    /* letter-spacing: 10px; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #042f49;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    /* -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.795); */
    background: #1b263b;
}

footer {
    bottom: 0;
    width: 100%;
    height: 55px;
    padding: 10px 20%;
    background-color: #669bbcda;
    backdrop-filter: blur(10px);
    position: fixed;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .inputnumberPagin {
    background-color: transparent;
}

footer .inputnumberPagin .inp-num {
    background-color: #e0e1dd;
    width: 100px;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer .inputnumberPagin .inp-num::-webkit-inner-spin-button {
    width: 40px;
}

footer .prev button {
    background-color: #118ab2;
    border: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    justify-content: center;
    color: #252525;
    font-weight: bold;
    transition: 0.2s;
}

footer .prev button span {
    background-color: transparent;
}

footer .prev button i {
    background-color: #118ab2;
    font-size: 20px;
}

footer .prev button:hover {
    color: #efefef;
}

footer .next button:hover {
    color: #efefef;
}

footer .next button {
    background-color: #118ab2;
    border: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    color: #252525;
    font-weight: bold;
    transition: 0.2s;
}

footer .next button span {
    background-color: transparent;
}


footer .next button i {
    background-color: #118ab2;
    font-size: 20px;
}

@media (max-width: 281px) {
    header nav {
        width: 100%;
        padding: 5px;
    }

    nav .header a.main {
        font-size: 30px;
    }

    #main {
        padding: 5rem 1rem;
    }

    .containerr .roww {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .containerr .roww div {
        background-color: #778da9;
        padding: 3%;
        display: flex;
        margin: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        /* height: 30rem; */
    }

    .roww div .image {
        overflow: hidden;
        display: flex;
        justify-content: center;
        padding: 0;
        width: 200px;
        margin: 10px;
    }
}

@media (max-width: 320px) {

    .containerr .roww {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        gap: 20px;
    }
    main{
        padding: 5rem 1rem;
    }

    header nav{
        padding: 10px 20px;
    }

    nav .header a.main{
        font-size: 30px;
    }
}

@media (max-width: 375px) {

    .containerr .roww {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        gap: 20px;
    }
    main{
        padding: 5rem 1rem;
    }

    header nav{
        padding: 10px 20px;
    }

    nav .header a.main{
        font-size: 30px;
    }
}

@media (max-width: 425px) {

    .containerr .roww {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        gap: 20px;
    }
    main{
        padding: 6rem 1rem;
    }

    header nav{
        padding: 10px 20px;
    }

    nav .header a.main{
        font-size: 30px;
    }

    footer{
        padding: 10px 1rem;
        gap: 10px;
        justify-content: center;
    }

    footer .prev span{
        display: none;
    }
    footer .next span{
        display: none;
    }

    footer .inputnumberPagin .inp-num{
        width: 90px;
        text-align: center;
        padding: 2px;
    }
}

@media (max-width: 768px) {
    nav .wrapper {
        display: none;
    }

    nav .hamburg {
        display: flex;
    }

    .containerr .roww {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        gap: 20px;
    }

    main{
        padding: 6rem 1rem;
    }

    header nav{
        padding: 10px 20px;
    }

    nav .header a.main{
        font-size: 30px;
    }
}

@media (max-width: 1024px) {
    .containerr .roww {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        gap: 20px;
    }
    
    main{
        padding: 6rem 1rem;
    }

    header nav{
        padding: 10px 20px;
    }

    nav .header a.main{
        font-size: 30px;
    }
}